<launch>

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" output="screen"/>

	<!-- TODO: launch our node and remap the cmd_vel topic -->
    <node pkg="turtlebot_control" type="basic_controller" name="controller5" output="screen">
    <remap from="cmd_vel" to="turtle1/cmd_vel"/>
    <remap from="pose" to="turtle1/pose"/>
    <param name="linear_vel" value="2.0"/>
    <param name="angular_vel" value="1.0"/>
    </node>
</launch>